body {
    background: #fff2e6;
}

h1 {
    text-align: center;
}

input[type=text] {
    width: 10%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

button {
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

.image {
    width: 100%;
    margin: 10px;
    border: 1px solid black;
    padding: 9px;
}

.results {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.show {
    width: 60%;
    background-color: white;
}
.search-form {
    text-align: center;
}
.search-btn:hover {
    background-color: grey;
    color: lightblue;

