* {
	box-sizing: border-box;
}

body {
	background-color: 
}

.tails-bowser {
	width: 15%;
	
	/*position: absolute;
*/
}

.img-container {
	display: block;
}

.heads-mario {
	width: 13%;
	/*position: absolute;
*/}

.container {
	
}