<form action="/dishes" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="">Dish Name</label>
	<input type="text" name="title">
	<label for="">Dish Description</label>
	<textarea name="content"></textarea>
	<button>Add Dish</button>
</form>