  <div class="movieTitle">
    You Entered : <%= params[:title] %>  
  </div>


 <form action = "/lookup"> 
 <input type="text" name="movietitle" placeholder ="Movie Title Here"> 

   <input type="submit" value="Go">


</form>