<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/styles.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script>
	var colors = ['green', 'mistyrose', 'lightblue', 'purple','yellow']
	var compliments = [
  "Your instructors love you",
  "High five = ^5",
  "Shut up and take my money",
  "It's almost beer o'clock",
  "The Force is strong with you"
]
		var randNumber = function () {
			var num = Math.floor((Math.random() * colors.length));
			return num;
		};

		var randBackgroundColor = colors[randNumber()];
		var randCompliment = compliments[randNumber()];


		var changeColor = function() {
			$('body').css("background-color", randBackgroundColor);
		}

		var addCompliment = function(){
			$('p').append(randCompliment);
		}

	</script>
</head>
<body onload="changeColor(), addCompliment()">
	<div class="container">
		<h1> Hello <%= name %> </h1>
		<img src="http://cf.chucklesnetwork.com/items/9/7/4/3/2/original/13-is-my-lucky-number.jpg" alt="">
		<p></p>
	</div>

</body>
</html>